
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">
			oracle.jdbc.OracleDriver
		</property>
		<property name="hibernate.connection.url">
			jdbc:oracle:thin:@localhost:1521/XEPDB1
		</property>
    	<property name="hibernate.connection.username">
			Rohit
		</property>
    	<property name="hibernate.connection.password">
			1234
		</property>
    	<property name="hibernate.hbm2ddl.auto">
			validate
		</property>
		<property name="hibernate.show_sql">
			true
		</property>
		<property name="hibernate.format_sql">
			false
		</property>
		
		<!-- Level 2 Cache -->
		<!--
		<property name="hibernate.cache.use_second_level_cache">true</property>
		<property name="hibernate.cache.use_query_cache">true</property>
		-->
		<!-- Hibernate 7 requires the new fully qualified class -->
		<!--
		<property name="hibernate.cache.region.factory_class">
		    org.hibernate.cache.jcache.internal.JCacheRegionFactory
		</property>
		-->
		<!-- Ehcache provider -->
		<!--
		<property name="jakarta.cache.provider">
		    org.ehcache.jsr107.EhcacheCachingProvider
		</property>
    	-->
	</session-factory>
</hibernate-configuration>