
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521/XEPDB1</property>
    	<property name="hibernate.connection.username">Rohit</property>
    	<property name="hibernate.connection.password">1234</property>
    	<property name="hibernate.hbm2ddl.auto">validate</property>
	</session-factory>
</hibernate-configuration>